/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* ----------------------------------  FONTS   ------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

@font-face {
  font-family: sarabun-bold;
  src: url("../fonts/Sarabun/Sarabun-Bold.ttf");
}

@font-face {
  font-family: sarabun-regular;
  src: url("../fonts/Sarabun/Sarabun-Regular.ttf");
}

@font-face {
  font-family: sarabun-light;
  src: url("../fonts/Sarabun/Sarabun-Light.ttf");
}

@font-face {
  font-family: sarabun-italic;
  src: url("../fonts/Sarabun/Sarabun-Italic.ttf");
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* -----------------------------------  VARIABLES   -------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

:root {
  --primary-color: rgb(219, 222, 227);
  --secondary-color: rgb(14, 17, 40);
  --tertiary-color: #18181c;
  --quinary-color: rgb(0, 171, 245);
  --quaternary-color: rgb(255, 95, 104);

  --font-family-default: sarabun-regular;
  --font-family-nineties: Arial;
  --font-family-two-thousands: Tahoma;
  --font-family-two-thousand-tens: sans-serif;
  --font-family-two-thousand-twenties: Helvetica;
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* -----------------------------------  GLOBAL   ----------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 0 1em;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  padding: 0.5em 1em;
}

.app-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

.app-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.app-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.socials img {
  height: 30px;
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* ----------------------------------  DEFAULT   ----------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

body#default,
body#resources {
  font-family: var(--font-family-default);
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* ---------------------------------  NINETIES   ----------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

body#nineties {
  font-family: var(--font-family-nineties);
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------  TWO THOUSANDS   ------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

body#two-thousands {
  font-family: var(--font-family-two-thousands);
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------  TWO THOUSAND TENS   --------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

body#two-thousand-tens {
  font-family: var(--font-family-two-thousand-tens);
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* -------------------------------  TWO THOUSAND TWENTIES   -----------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

body#two-thousand-twenties {
  font-family: var(--font-family-two-thousand-twenties);
}
