/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* ----------------------------------  FONTS   ------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

@font-face {
  font-family: sarabun-bold;
  src: url("../fonts/Sarabun/Sarabun-Bold.ttf");
}

@font-face {
  font-family: sarabun-regular;
  src: url("../fonts/Sarabun/Sarabun-Regular.ttf");
}

@font-face {
  font-family: sarabun-light;
  src: url("../fonts/Sarabun/Sarabun-Light.ttf");
}

@font-face {
  font-family: sarabun-italic;
  src: url("../fonts/Sarabun/Sarabun-Italic.ttf");
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* -----------------------------------  VARIABLES   -------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

:root {
  --primary-color-nineties: rgb(177, 58, 26);
  --secondary-color-nineties: rgb(130, 44, 117);
  --tertiary-color-nineties: rgb(40, 126, 159);
  --quinary-color-nineties: rgb(22, 77, 177);
  --quaternary-color-nineties: rgb(179, 51, 108);

  --primary-color-two-thousands: rgb(36, 213, 19);
  --secondary-color-two-thousands: rgb(222, 25, 193);
  --tertiary-color-two-thousands: rgb(66, 153, 222);
  --quinary-color-two-thousands: rgb(255, 98, 1);
  --quaternary-color-two-thousands: rgb(227, 48, 87);

  --primary-color-two-thousand-tens: rgb(254, 60, 113);
  --secondary-color-two-thousand-tens: rgb(43, 213, 102);
  --tertiary-color-two-thousand-tens: rgb(0, 129, 254);
  --quinary-color-two-thousand-tens: rgb(239, 182, 191);
  --quaternary-color-two-thousand-tens: rgb(200, 110, 76);

  --primary-color-two-thousand-twenties: rgb(219, 222, 227);
  --secondary-color-two-thousand-twenties: rgb(14, 17, 40);
  --tertiary-color-two-thousand-twenties: #18181c;
  --quinary-color-two-thousand-twenties: rgb(0, 171, 245);
  --quaternary-color-two-thousand-twenties: rgb(255, 95, 104);

  --font-family-default: sarabun-regular;
  --font-family-nineties: Arial;
  --font-family-two-thousands: Tahoma;
  --font-family-two-thousand-tens: sans-serif;
  --font-family-two-thousand-twenties: Helvetica;
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* -----------------------------------  GLOBAL   ----------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

main {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  padding: 0.5em 1em;
}

.app-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

.app-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.app-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.copyright {
  margin: 0;
  padding: 0;
}

.socials img {
  height: 25px;
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* ----------------------------------  DEFAULT   ----------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

body#default,
body#resources,
body#two-thousand-twenties {
  font-family: var(--font-family-default);
  background-color: var(--primary-color-two-thousand-twenties);
  background: radial-gradient(
    circle farthest-corner at top left,
    rgb(250, 250, 250) 3%,
    var(--primary-color-two-thousand-twenties) 90%
  );
}

body#default a,
body#resources a,
body#two-thousand-twenties a {
  text-decoration: none;
}

body#default ul,
body#resources ul,
body#two-thousand-twenties ul {
  list-style: none;
}

/* ______ NAV ______ */

body#default .app-navigation,
body#resources .app-navigation,
body#two-thousand-twenties .app-navigation {
  z-index: 2;
  position: fixed;
  color: var(--primary-color-two-thousand-twenties);
  background-color: var(--tertiary-color-two-thousand-twenties);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

body#default .app-navigation a,
body#resources .app-navigation a,
body#two-thousand-twenties .app-navigation a {
  color: var(--primary-color-two-thousand-twenties);
}

body#default .app-navigation a:hover,
body#default .app-navigation a:active,
body#resources .app-navigation a:hover,
body#resources .app-navigation a:active,
body#two-thousand-twenties .app-navigation a:hover,
body#two-thousand-twenties .app-navigation a:active {
  color: var(--quaternary-color-two-thousand-twenties);
}

/* ______ HEADER ______ */

body#default header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

body#default header #title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 2em;
}

body#default header #title,
body#default header #subtitle,
body#default header #statement {
  margin: 0;
  padding: 0;
}

body#default header #title {
  font-size: 10vw;
  font-style: oblique;
}

body#default header #statement {
  font-size: 1.2em;
}

body#default header #years {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding: 0 1em;
  width: 30vw;
  font-size: 5vw;
  font-weight: bold;
  font-style: oblique;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0) 0%,
    var(--tertiary-color-two-thousand-twenties) 149%
  );
}

body#default header .year a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

body#default header .year:nth-of-type(1) a:hover {
  color: var(--primary-color-nineties);
}

body#default header .year:nth-of-type(2) a:hover {
  color: var(--primary-color-two-thousands);
}

body#default header .year:nth-of-type(3) a:hover {
  color: var(--primary-color-two-thousand-tens);
}

body#default header .year:nth-of-type(4) a:hover {
  color: var(--quinary-color-two-thousand-twenties);
}

/* ______ MAIN ______ */

body#default main,
body#resources main,
body#two-thousand-twenties main {
  position: relative;
  flex-grow: 1;
}

body#default #content {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    var(--tertiary-color-two-thousand-twenties) 88%
  );
}

body#default section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

body#default section#two-thousands {
  background: -webkit-linear-gradient(
    var(--primary-color-two-thousand-twenties),
    rgb(255, 255, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body#default section#two-thousand-tens {
  color: var(--primary-color-two-thousand-twenties);
}

body#default section#two-thousand-twenties {
  color: var(--primary-color-two-thousand-twenties);
}

body#default section .header-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33vw;
}

body#default section h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0;
  padding: 0;
  font-size: 2vw;
  font-style: oblique;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

body#default section#nineties h2 {
  border-bottom-color: var(--primary-color-nineties);
}

body#default section#two-thousands h2 {
  border-bottom-color: var(--primary-color-two-thousands);
}

body#default section#two-thousand-tens h2 {
  border-bottom-color: var(--primary-color-two-thousand-tens);
}

body#default section#two-thousand-twenties h2 {
  border-bottom-color: var(--quinary-color-two-thousand-twenties);
}

body#default section .examples {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 100%;
  width: 33.33vw;
  padding: 0;
  margin: 0;
}

body#default section .example {
  position: relative;
  height: calc(100% / 3.8);
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid var(--secondary-color-two-thousand-twenties);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: all 0.3s ease;
  animation: fade-in 0.5s ease;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 500px;
}

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

body#default section .example:hover {
  z-index: 2;
  transform: scale(1.6);
}

body#default section .char {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.33vw;
  font-size: 1.1em;
}

body#default section .char > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: left;
  width: 60%;
}

body#default section .char > p {
  padding-bottom: 0.5em;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

body#default section#nineties .char > p {
  border-bottom-color: var(--primary-color-nineties);
}

body#default section#two-thousands .char > p {
  border-bottom-color: var(--primary-color-two-thousands);
}

body#default section#two-thousand-tens .char > p {
  border-bottom-color: var(--primary-color-two-thousand-tens);
}

body#default section#two-thousand-twenties .char > p {
  border-bottom-color: var(--quinary-color-two-thousand-twenties);
}

body#default section .char li {
  margin: 0.5em 0 0.5em 1em;
  list-style: square;
}

/* ______ FOOTER ______ */

body#default .app-footer,
body#resources .app-footer,
body#two-thousand-twenties .app-footer {
  color: var(--primary-color-two-thousand-twenties);
  background-color: var(--tertiary-color-two-thousand-twenties);
}

body#default .app-footer .source-code,
body#resources .app-footer .source-code,
body#two-thousand-twenties .app-footer .source-code {
  filter: invert(1);
}

body#default .app-footer img:hover,
body#default .app-footer img:active,
body#resources .app-footer img:hover,
body#resources .app-footer img:active,
body#two-thousand-twenties .app-footer img:hover,
body#two-thousand-twenties .app-footer img:active {
  opacity: 0.5;
}

body#default .app-footer img:active,
body#resources .app-footer img:active {
  transform: scale(0.9);
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* ---------------------------------  NINETIES   ----------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

body#nineties {
  font-family: var(--font-family-nineties);
  background-color: yellow;
  cursor: url("../images/icons/sword.png"), auto;
}

body#nineties a {
  cursor: url("../images/icons/sword-highlighted.png"), pointer;
}

body#nineties .app-navigation li {
  list-style: none;
}

body#nineties .app-navigation a {
  color: blue;
}

body#nineties h1 {
  padding: 10px;
  box-shadow: var(--primary-color-nineties) 0px 0px 0px 2px inset,
    var(--secondary-color-nineties) 10px -10px 0px -3px,
    var(--tertiary-color-nineties) 20px -20px,
    var(--quaternary-color-nineties) 30px -30px,
    var(--quinary-color-nineties) 40px -40px;
}

body#nineties main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding: 0 1em;
}

body#nineties section > ul {
  flex-grow: 1;
}

body#nineties main section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 10px;
  width: 85%;
}

body#nineties main li {
  margin: 65px 0;
}

body#nineties main li h2 {
  padding: 10px;
}

body#nineties main li:nth-of-type(1) h2 {
  box-shadow: var(--primary-color-nineties) 0px 0px 0px 2px inset,
    var(--secondary-color-nineties) 10px -10px 0px -3px;
}

body#nineties main li:nth-of-type(2) h2 {
  box-shadow: var(--tertiary-color-nineties) 0px 0px 0px 2px inset,
    var(--quinary-color-nineties) 10px -10px 0px -3px;
}

body#nineties main li:nth-of-type(3) h2 {
  box-shadow: var(--quaternary-color-nineties) 0px 0px 0px 2px inset,
    var(--quinary-color-nineties) 10px -10px 0px -3px;
}

body#nineties main li:nth-of-type(4) h2 {
  box-shadow: var(--secondary-color-nineties) 0px 0px 0px 2px inset,
    var(--quaternary-color-nineties) 10px -10px 0px -3px;
}

body#nineties main li:nth-of-type(5) h2 {
  box-shadow: var(--tertiary-color-nineties) 0px 0px 0px 2px inset,
    var(--quaternary-color-nineties) 10px -10px 0px -3px;
}

body#nineties aside {
  padding: 0;
}

body#nineties aside li:nth-of-type(1) {
  transform: rotate(-10deg);

  background-color: var(--tertiary-color-nineties);
}

body#nineties aside li:nth-of-type(2) {
  transform: rotate(10deg);
  background-color: var(--secondary-color-nineties);
}

body#nineties aside li:nth-of-type(3) {
  transform: rotate(-10deg);
  background-color: var(--primary-color-two-thousand-twenties);
}

body#nineties aside ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

body#nineties aside li {
  list-style: none;
  padding: 10px;
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 255, 255, 0.5),
    inset -0.2em -0.2em 0.2em 0 rgba(0, 0, 0, 0.5);
}

body#nineties aside li img {
  height: 50px;
}

body#nineties .copyright {
  font-weight: bold;
  color: var(--primary-color-nineties);
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------  TWO THOUSANDS   ------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

body#two-thousands {
  font-family: var(--font-family-two-thousands);
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------  TWO THOUSAND TENS   --------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

body#two-thousand-tens {
  font-family: var(--font-family-two-thousand-tens);
  background-color: var(--primary-color-two-thousand-tens);
}

body#two-thousand-tens .app-navigation {
  z-index: 2;
  position: fixed;
  background-color: var(--secondary-color-two-thousand-tens);
}

body#two-thousand-tens .app-navigation ul {
  justify-content: space-around;
  gap: 60px;
}

body#two-thousand-tens .app-navigation li {
  list-style: none;
}

body#two-thousand-tens .app-navigation a {
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.25em;
  transition: all 0.3s ease;
  color: var(--primary-color-two-thousand-tens);
}

body#two-thousand-tens .app-navigation a:hover {
  color: var(--tertiary-color-two-thousand-tens);
}

body#two-thousand-tens header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body#two-thousand-tens header::after {
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgb(0, 0, 0) 149%);
}

body#two-thousand-tens header h1 {
  font-weight: bold;
  font-size: 7vw;
  color: var(--primary-color-two-thousand-tens);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  letter-spacing: 0.6em;
  mix-blend-mode: hard-light;
}

body#two-thousand-tens header img {
  width: 70vw;
  border: 4px solid white;
  mix-blend-mode: exclusion;
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* -------------------------------  TWO THOUSAND TWENTIES   -----------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

body#two-thousand-twenties {
  font-family: var(--font-family-two-thousand-twenties);
}

/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
/* -------------------------------------  RESOURCES   -----------------------------  */
/* --------------------------------------------------------------------------------  */
/* --------------------------------------------------------------------------------  */

body#resources main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
}

body#resources .resources li {
  margin: 1em 0;
}
